*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
input{
   font-family: 'Courier New', Courier, monospace;
   width: 50%;
   height: 30px;
   border-radius: 15px;
   text-align: center;
    margin-top: 5px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    width: 52%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;

}